<div class="container">

<h2 style="color:#FF840D;">The Rankings</h2>

<% @videos.each do |video| %>
	<br />
	<div>
		<a href="/videos/<%= video.id%>"><%= video.name %></a>
	</div>
	<div>
		<strong>Votes</strong>
		<%= video.votes %>
	</div>
	<%= link_to 'Delete', video, method: :delete %>
	<br />

<% end %>

<div>
<br />
<%= link_to 'Home', home_index_path %>
</div>

</div>